* {
  font-family: 'Bangers', cursive;
}

.header {
  height: calc(16.6vh + 5px);
  width: 100vw;
  min-height: 100px;
  background-color: rgb(207, 37, 37);
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 100;
  box-shadow: inset 0 2px 4px;
  transition: width 600ms ease;
  overflow: scroll;
}

.profile-container {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 50%; /* This makes the border circular */
  border: 2px solid black; /* Set the border color and thickness */
  background-color: #FFF;
  overflow: hidden; /* Hide any content outside the circular border */
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}
.title {
  font-family: 'Bangers', cursive;
  position: fixed;
  left: 50%;
  padding-right: 1rem;
  transform: translateX(-50%);
}
.user-btns li button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2vw;
  padding: 5px;

  font-family: 'Bangers', cursive;
  font-size: large;

  border: 1px solid #000;
  border-radius: 5px;

  cursor: pointer;
  text-align: center;
  appearance: button;
}
.user-btns svg {
  margin-right: 8px;
}

.user-btns:hover {
  transform: scale(0.98);
}
.user-link  {
  display: flex;
  background-color: #FFF;
  border-radius: 5px;
  margin-bottom: 1vw;
  margin-right: 1vw;
  padding: 0.5vw;
}

.user-link a {
  padding-right: 0.5vw;
}
