* {
  margin: 0;
  font-family: 'Bangers', cursive;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 10px;
}
.fa-primary {
  color: #f6004d;
}

.fa-secondary {
  color: #c50171;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #1C1C23;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-tertiary: #F2F2F2;

}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-tertiary: #faf5e9;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.bottom {
  height: 2vh; 
}

/*<Route path="/" element={<SearchPage />} />
        <Route path="/anime/:id" element={<AnimeItem />} />
  <Route path="/character/:id" element={<Gallery />} />*/

a img {
  overflow: hidden;
}