:root {
  font-size: 16px;
  font-family: 'Bangers', cursive;
  --text-primary: rgba(182, 182, 182, 1);
  --text-secondary: rgba(236, 236, 236, 1);
  --bg-primary: rgba(35, 35, 46, 1);
  --bg-secondary: rgb(20, 20, 24);
  --bg-tertiary: #1C1C23;
  --transition-speed: 600ms;
}

body {
  color: black;
  background: var(--bg-tertiary); 
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: rgba(30, 30, 36, 1);
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  margin-top: calc(16.6vh + 5px); /*The 5px also includes the borders thickness*/
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 100;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(84.4vh - 5px);
}

.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  font-family: 'Bangers', cursive;
  display: none;
  margin-left: 1rem;
  padding-right: 1rem;
  
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    width: 100%;
  }
  .logo svg {
    transform: none;
    transition: none;
  }  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }
  .navbar:hover .logo svg {
    transform: none;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 12.38rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}
